<?xml version="1.0"?>
<config>
    <modules>
        <AW_Blogs>
            <version>1.4.0</version><platform>ce</platform>
        </AW_Blogs>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <awblogs after="Mage_Adminhtml">AW_Blogs_Adminhtml</awblogs>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <blogs>
                <use>standard</use>
                <args>
                    <module>AW_Blogs</module>
                    <frontName>blogs</frontName>
                </args>
            </blogs>
        </routers>
        <layout>
            <updates>
                <blogs module="AW_Blogs">
                    <file>aw_blogs.xml</file>
                </blogs>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Blogs>
                    <files>
                        <default>AW_Blogs.csv</default>
                    </files>
                </AW_Blogs>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <AW_Blogs>
                    <files>
                        <default>AW_Blogs.csv</default>
                    </files>
                </AW_Blogs>
            </modules>
        </translate>

        <menu>
            <blogs module="blogs">
                <title>Blogs</title>
                <sort_order>71</sort_order>
                <children>
                    <new module="blogs">
                        <title>Add Post</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/awblogs_manage_blogs/new</action>
                    </new>
                    <posts module="blogs">
                        <title>Posts</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/awblogs_manage_blogs/index</action>
                    </posts>
                    <comment module="blogs">
                        <title>Comments</title>
                        <sort_order>20</sort_order>
                        <action>adminhtml/awblogs_manage_comment</action>
                    </comment>
                    <cat module="blogs">
                        <title>Categories</title>
                        <sort_order>30</sort_order>
                        <action>adminhtml/awblogs_manage_cat</action>
                    </cat>
                    <settings translate="title" module="blogs">
                        <title>Settings</title>
                        <action>adminhtml/system_config/edit/section/blogs</action>
                        <sort_order>40</sort_order>
                    </settings>
                </children>
            </blogs>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <blogs>
                            <title>Blogs</title>
                            <sort_order>70</sort_order>
                            <children>
                                <posts>
                                    <title>Manage Posts</title>
                                    <sort_order>0</sort_order>
                                </posts>
                                <comment>
                                    <title>Manage Comments</title>
                                    <sort_order>1</sort_order>
                                </comment>
                                <cat>
                                    <title>Manage Categories</title>
                                    <sort_order>2</sort_order>
                                </cat>
                            </children>
                        </blogs>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <blogs>
                                            <title>aheadWorks Blogs Section</title>
                                        </blogs>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <blogs module="AW_Blogs">
                    <file>aw_blogs.xml</file>
                </blogs>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <blogs>
                <class>AW_Blogs_Model</class>
                <resourceModel>blogs_mysql4</resourceModel>
            </blogs>
            <blogs_mysql4>
                <class>AW_Blogs_Model_Mysql4</class>
                <entities>
                    <blogs>
                        <table>aw_blogs</table>
                    </blogs>
                    <post>
                        <table>aw_blogs</table>
                    </post>
                    <comment>
                        <table>aw_blogs_comment</table>
                    </comment>
                    <cat>
                        <table>aw_blogs_cat</table>
                    </cat>
                    <post_cat>
                        <table>aw_blogs_post_cat</table>
                    </post_cat>
                    <store>
                        <table>aw_blogs_store</table>
                    </store>
                    <cat_store>
                        <table>aw_blogs_cat_store</table>
                    </cat_store>
                    <tag>
                        <table>aw_blogs_tags</table>
                    </tag>


                    <lblogs>
                        <table>blogs</table>
                    </lblogs>
                    <lpost>
                        <table>blogs</table>
                    </lpost>
                    <lcomment>
                        <table>blogs_comment</table>
                    </lcomment>
                    <lcat>
                        <table>blogs_cat</table>
                    </lcat>
                    <lpost_cat>
                        <table>blogs_post_cat</table>
                    </lpost_cat>
                    <lstore>
                        <table>blogs_store</table>
                    </lstore>

                    <lcat_store>
                        <table>blogs_cat_store</table>
                    </lcat_store>

                </entities>
            </blogs_mysql4>
            <sitemap>
                <rewrite>
                    <sitemap>AW_Blogs_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <blocks>
            <blogs>
                <class>AW_Blogs_Block</class>
            </blogs>
            <rss>
                <rewrite></rewrite>
                <drewrite>
                    <list>AW_Blogs_Block_Rss_List</list>
                </drewrite>
            </rss>
            <page>
                <rewrite></rewrite>
                <drewrite>
                    <html_footer>AW_Blogs_Block_Html_Footer</html_footer>
                </drewrite>
            </page>
        </blocks>
        <resources>
            <blogs_setup>
                <setup>
                    <module>AW_Blogs</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blogs_setup>
            <blogs_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blogs_write>
            <blogs_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blogs_read>
        </resources>
        <helpers>
            <blogs>
                <class>AW_Blogs_Helper</class>
            </blogs>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <blogs>
                        <type>singleton</type>
                        <class>AW_Blogs_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </blogs>
                </observers>
            </controller_front_init_routers>
            <controller_action_predispatch>
                <observers>
                    <blogs>
                        <type>singleton</type>
                        <class>blogs/observer</class>
                        <method>rewritesEnable</method>
                    </blogs>
                </observers>
            </controller_action_predispatch>
            <sitemap_add_xml_block_to_the_end>
                <observers>
                    <add_blogs_section>
                        <type>singleton</type>
                        <class>blogs/observer</class>
                        <method>addBlogsSection</method>
                    </add_blogs_section>
                </observers>
            </sitemap_add_xml_block_to_the_end>
        </events>
        <template>
            <email>
                <blogs_comments_email_template translate="label" module="blogs">
                    <label>Comment Submitted</label>
                    <file>aw_blogs/comment_submitted.html</file>
                    <type>text</type>
                </blogs_comments_email_template>
            </email>
        </template>
        <!-- compatibility with Magento 1.4.x -->
        <page>
            <layouts>
                <empty>
                    <label>Empty</label>
                    <template>page/empty.phtml</template>
                    <layout_handle>page_empty</layout_handle>
                </empty>
            </layouts>
        </page>
        <!-- compatibility with Magento 1.4.x -->
    </global>
    <default>
        <sitemap>
            <blogs>
                <changefreq>weekly</changefreq>
                <priority>0.5</priority>
            </blogs>
        </sitemap>
        <blogs>
            <blogs>
                <enabled>1</enabled>
                <title>Blogs</title>
                <footerEnabled>1</footerEnabled>
                <menuRight>1</menuRight>
                <topEnabled>1</topEnabled>
                <blogscrumbs>1</blogscrumbs>
                <recent>5</recent>
                <dateformat>full</dateformat>
                <layout>page/2columns-right.phtml</layout>
                <comments>1</comments>
                <useshortcontent>1</useshortcontent>
                <rss>1</rss>
                <rssimage>images/BlogsLogo.png</rssimage>
                <parse_cms>0</parse_cms>
                <categories_urls>1</categories_urls>
            </blogs>
            <comments>
                <page_count>10</page_count>
            </comments>
            <menu>
                <category>1</category>
                <tagcloud_size>10</tagcloud_size>
            </menu>
        </blogs>
    </default>
</config>
